body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Arial",
    monospace;
}

.ant-tabs-tab-btn {
  color:#cccccc  !important;
}
.ant-tabs-ink-bar {
  position: absolute;
  background: #ff4c4c;
  pointer-events: none;
}
